@import 'normalize.css';
@import '_variables.scss';

//
// Reset Styles
// --------------------------
* {
  box-sizing: border-box;
}

body {
  background-color: $color-vanilla;
  font-family: $sans-font;
  font-size: $md-font-size;
  font-weight: 400;
  line-height: 1.25em;
  color: $color-slate;
}

a {
  text-decoration: none;
  transition: 0.25s ease-out all;

  &:hover {
    border-color: $color-pink;
  }
}

//
// Layout & Grid
// --------------------------
.nd-row {
  display: block;
}

@media screen and (min-width: $tablet) {
  .nd-row {
    display: flex;
    justify-content: space-between;
  }

  .nd-col-4 {
    float: none;
    flex: 0 0 31%;
  }

  .nd-col-6 {
    width: 50%;
  }
}


//
// Global
// --------------------------
.btn {
  appearance: none;
  display: inline-block;
  padding: 8px 10px;
  border: none;
  background-color: transparent;
  font-size: $sm-font-size;
  font-weight: $nd-adelle-bold;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: $color-purple;
  cursor: pointer;

  .svg-inline--fa {
    position: relative;
    top: -1px;
    font-size: 80%;
    color: $color-purple-light;
  }

  &:hover {
    background-color: $color-pink;
    color: white;

    .svg-inline--fa {
      color: $color-offWhite;
    }
  }

  &:focus {
    background-color: white;
    color: black;
  }
}
